<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });
  </script>

<nav class="navbar header-box-shadow" style="background-color: #FFFFFF;">
  <a  [routerLink]="['/home']"><img src="https://youtube-clone-assets-2.s3.amazonaws.com/youtube_PNG13.png" alt="" style="height: 70px !important;"></a>
    <!-- <a class="navbar-brand" [routerLink]="['/home']"><youtube-logo></youtube-logo></a> -->
   
    

  

<!-- style="height: 50px; position: relative; top: -4px;" -->
  <!-- THIS IS THE ISSUE -->
  <ul class='nav pull-right'>
    <li  style="margin-right: 15px;">
    <!-- <youtube-video-camera *ngIf="isLoggedIn && userHasChannel" data-toggle="modal" data-target="#exampleModal" ></youtube-video-camera> -->
    <!-- <youtube-video-camera *ngIf="isLoggedIn && !userHasChannel" data-toggle="modal" data-target="#createChannelModal"></youtube-video-camera> -->

      <fa-icon icon="video" class="grey" *ngIf="isLoggedIn && userHasChannel" data-toggle="modal" data-target="#exampleModal" size="1x"></fa-icon>
      <fa-icon icon="video" class="grey"  *ngIf="isLoggedIn && !userHasChannel" data-toggle="modal" data-target="#createChannelModal" size="1x"></fa-icon>
 

   
    <a [routerLink]="['/login']" class="nav-link" *ngIf="!isLoggedIn" data-toggle="tooltip" title="Sign in to upload a video">
      <!-- <youtube-video-camera ></youtube-video-camera> -->
      <fa-icon icon="video" class="grey" size="1x"></fa-icon>
    </a>
    </li>
    <li>
      <a *ngIf="isLoggedIn; else notLoggedIn" class="nav-link">
          <!-- <div class="rounded-circle" style="background-color: #EF6B02; color: white; height: 32px; width: 32px;">
            <p class="mx-auto" style="text-align: center; padding: 3px;">W</p>
          </div> -->
          <fa-icon class="grey" icon="user-circle" size="1x"></fa-icon>
        </a>
      <ng-template #notLoggedIn>
        <a [routerLink]="['/login']" class="nav-link"  data-toggle="tooltip" title="Sign in to access account">
          <!-- <youtube-sign-in ></youtube-sign-in> -->
          <fa-icon icon="user-plus" class="grey" size="1x"></fa-icon>
        </a>
      </ng-template>
    </li>
  </ul>
    <!-- THIS IS THE ISSUE -->
</nav>




<!-- Video to be show when user has is logging in and has channel Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorHasOccurred" class="alert alert-danger mt-5" style="width: 75%; margin: 0 auto;" role="alert">
          {{message}}
        </div>
        
        <div *ngIf="uploadStarted" class="alert alert-success mt-5" style="width: 85%; margin: 0 auto;" role="alert">
         
          <div class="row">
              <P style="margin: 0 auto;">Upload process has begun</P>
          </div>

        </div>
        <form [formGroup]="createVideo" (ngSubmit)="addNewVideo()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description" placeholder="Description"></textarea>
          </div>
          <div class="custom-file">
            <input type="file" accept="video/*" class="custom-file-input" id="customFile" formControlName="video" (change)="onSelectFile($event)">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary border-none bg-black" data-dismiss="modal" (click)="onClose()">Close</button>
            <button type="submit" class="btn btn-primary bg-youtube-red border-none">Save changes</button>
          </div>
        </form>
        <!-- Video Preview -->
        <div class="" *ngIf="format==='video' && url" style="margin-top: 25px; padding: 5px;">
          <h4>Video Preview</h4>
          <video [src]="url" height="200" controls></video> <br/>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Channel Modal -->
<div class="modal fade" id="createChannelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create your channel name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger" style="font-size: 11px;">You must first create a channel to start adding videos</p>
        <form [formGroup]="createChannel" (ngSubmit)="addNewChannel()">
          <div *ngIf="errorHasOccurred" class="alert alert-danger mt-5" style="width: 25%; margin: 0 auto;" role="alert">
            {{message}}
          </div>
          
          <div *ngIf="authenticated" class="alert alert-success mt-5" style="width: 25%; margin: 0 auto;" role="alert">
            {{message}}
          </div>
          <div class="form-group">
            <label for="title">Channel name</label>
            <input type="text" class="form-control" formControlName="channel_name" placeholder="Add channel name">
          </div>
          <div class="form-group">
            <label for="description">Tell Viewers about your channel</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description" placeholder="Add channel description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary border-none bg-black" data-dismiss="modal" (click)="onCreateChannelClose()">Close</button>
            <button type="submit" class="btn btn-primary bg-youtube-red border-none">CREATE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
